@mode 'Flat';

* {
  font-family: 'Arial';
  font-fill: black;
  label-anchor: 0.5 0.5;
  halo-radius: 0;
  halo-opacity: 0.7;
  halo-color: white;
  -gt-label-padding: 3;
  -gt-label-auto-wrap: 80;
  label-priority: 2700;


  [@scale > 25k][@scale < 50k] {
    label: [NAVN];
    font-size: categorize(@sd,
      15, 10k,
      14, 25k,
      13, 50k,
      11, 100k,
      10, 200k,
      9);
    label-priority: 2730;

  };

}