@mode 'Flat';

* {
  font-family: 'Arial';
  font-fill: black;
  label-anchor: 0.5 0.5;
  halo-radius: 0;
  halo-opacity: 0.7;
  halo-color: white;
  -gt-label-padding: 3;
  -gt-label-auto-wrap: 80;


  [@scale < 8M][@scale > 2M] {
    label: [NAVN];
    font-size: 14;

  };

}