[@sd <= 10k] {

    stroke-opacity: 0;

    label-group: true;
    label-z-index: 1000;
  	label-priority: 1000; 
    font-fill: black;
    font-family: 'Arial';
		label: [NAVN];
        font-size:
          categorize(@sd, 
            13, 1500,
            12, 6k,
            10, 25k,
            8, 50k,
            9);
        halo-radius: 1;
        halo-color: white;

    }